[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.0"
google-auth = "~=2.0"
requests = "~=2.26"
flask-cors = "~=3.0"
flask-login = "~=0.5"
psycopg2-binary = "~=2.9"
google-auth-oauthlib = "~=0.4"
flask-httpauth = "~=4.4"
waitress = "~=2.0"
types-waitress = "~=0.1"

[dev-packages]
flake8 = "~=3.9"
mypy = "~=0.910"
autopep8 = "~=1.5"
wheel = "~=0.37"
requests = "*"

[requires]
python_version = "3.7"
